# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
*.sqlite3

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production

# Build
backend/recordings/

# Logs
*.log
